//compile to CSS with: sass --watch index.scss:index.css

$weather_item_width:    100px;
$weather_info_icon_height:    $weather_item_width * .2;
$weather_icon_width: $weather_item_width * .8;

$meetups_icon_width: 120px;

html,body{
  padding:0;
  margin:0;
  width:100%
}
body{
  background-color: #73D8FA;
}

#landing_page{
  #main_img{
    display: block;
    margin: 50px auto;

    height:auto;
    min-width:200px;
    max-width:460px;
    width:25%;
  }
  form{
    margin-top:50px;
    text-align: center;
    width:50%;
    min-width: 250px;
    input{
      text-align: center;
      margin:3px;
    }
  }
}


#results{
  .navbar{
    margin-bottom: 0;
  }
  #new_form_location{
    form{
      width:100%;
      input{
        display: inline-block;
      }
    }
  }

  #weather{
    text-align: center;
    min-height: $weather_item_width;
    background-color: #4c4222;

    .weather_item{
      //colors + box shading
      background-color: #D69723;
      border: 2px solid;
      border-radius: 25px;
      box-shadow: 4px 4px 2px black;
      padding:10px;
      margin:2px;

      //alignment and sizing
      text-align: center;
      display: inline-block;
      width:$weather_item_width * 1.7;
      margin: 10px;
      .date{
        font-size: .9em;
      }
      .weather_icon{
        padding:4px;
        img{
          height:$weather_icon_width;
          width:$weather_icon_width;
        }
      }
      .weather_info{
        display: block;
        span{
          display: inline-block;
          img{
            height:$weather_info_icon_height;
            width:$weather_info_icon_height;
          }
          span{
            font-size: .7em;
            position: relative;
            top: 50%;
            //transform: translateY(-50%);
          }
        }
      }
    }
  }

  #meetups{
    vertical-align: middle;
    text-align: center;
    background-color: #44BBE3;

    #num_members_bar_chart {

       rect {
        fill: steelblue;
      }

       text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
      }

      .axis text {
        font: 10px sans-serif;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
    }

    .meetup_item{
      //colors + box shading
      background-color: white;
      display: inline-block;
      border: 2px solid;
      border-radius: 25px;
      box-shadow: 4px 4px 2px black;
      width:$meetups_icon_width * 1.2;
      padding:10px;
      margin:10px;
      text-decoration: none;
      color:black;
      img{
        border-radius: 10px;
        width:$meetups_icon_width;
        height:$meetups_icon_width;
      }
      p{
        font-size: 0.8em;
        margin:1px;
        padding:0px;
      }
    }

  }
}
