<footer>
    <h3>Contact Me</h3>
    <p>JTronLabs@gmail.com</p>
    <%= link_to image_tag("mail-icon.png"),'mailto:jtronlabs@gmail.com?Subject=Hello!' %>
    <%= link_to image_tag("linkedin_icon.png"),'https://www.linkedin.com/in/jameslowrey2' %>
    <%= link_to image_tag("github_icon.png"),'https://github.com/jtronlabs' %>
    <%= link_to image_tag("reddit-icon.png"),'https://www.reddit.com/user/jtronlabs' %>
</footer>