<header>
    <img alt="logo" id="logo" src="images/logo.png">
    <div id="header_info">
        <h1>James Lowrey</h1>
        <h4>Developer</h4>
    </div>

    <div id="nav_div">
    </div>
</header>