
<header>
    <img id="logo" src="images/logo.png"></img>
    <div id="header_info">
        <h1>James Lowrey
        </h1>
        <h6>
            Developer &#38;&#38; Hacker &#38;&#38; Student
        </h6>
    </div>

    <div id="nav_div">
    </div>
</header>