/* line 5, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
#james {
  height: 100%;
  width: 100%;
  /* Background pattern from subtlepatterns.com */
  background-image: url("../images/footer_lodyas.png");
  background-repeat: repeat;
  position: relative;
  margin: 0;
  padding: 0; }
  /* line 15, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
  #james #index_top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px #888888; }
    /* line 25, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
    #james #index_top h1 {
      font-size: 6rem; }

/* line 31, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
#about_me {
  background: #ccc;
  text-align: center;
  margin: 0;
  padding: 0; }
  /* line 37, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
  #about_me .container {
    margin: 10px auto; }
    /* line 39, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
    #about_me .container p {
      font-size: 1rem; }
    /* line 42, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
    #about_me .container .about_me_image {
      width: 150px;
      height: 150px; }

/* line 49, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
#individual_project {
  text-align: center;
  margin: 0;
  padding: 0; }
  /* line 54, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
  #individual_project .project {
    vertical-align: top; }
    /* line 57, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
    #individual_project .project .project_image {
      width: 150px;
      margin: 30px; }
    /* line 62, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
    #individual_project .project .link_image {
      width: 40px;
      height: 40px; }
