/* line 10, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
#james {
  height: 100%;
  width: 100%;
  /* Background pattern from subtlepatterns.com */
  background-image: url("../images/footer_lodyas.png");
  background-repeat: repeat;
  position: relative;
  margin: 0;
  padding: 0; }
  /* line 20, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
  #james #index_top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px #888888; }

/* line 33, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
#about_me {
  background: #b5995c;
  text-align: center;
  margin: 0;
  padding: 0; }
  /* line 39, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
  #about_me .container {
    margin: 10px auto; }
    /* line 41, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
    #about_me .container .about_me_image {
      width: 250px;
      height: 250px; }

/* line 48, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
#individual_project {
  text-align: center;
  margin: 0;
  padding: 0; }
  /* line 53, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
  #individual_project .project {
    vertical-align: top; }
    /* line 56, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
    #individual_project .project .project_image {
      width: 250px;
      height: 250px;
      margin: 30px; }
    /* line 62, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
    #individual_project .project .link_image {
      width: 40px;
      height: 40px; }

/* line 69, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
#companies {
  background: white;
  padding: 10px;
  margin: 0;
  text-align: center; }
  /* line 77, /home/james/Documents/jtronlabs_website/MiddleMan_Source/source/stylesheets/index.css.scss */
  #companies .company .company_image {
    max-width: 270px;
    max-height: 270px; }
