<link href="stylesheets/cube.css" rel="stylesheet" type="text/css" />
        
    <div class="space3d">
        <div class="_3dbox">
          <div class="_3dface _3dface--front">
              <p>asdasdasdadsasd</p>
          </div>
          <div class="_3dface _3dface--top">
              <p>asdasdasdadsasd</p>
          </div>
          <div class="_3dface _3dface--bottom">
              <p>asdasdasdadsasd</p>
          </div>
          <div class="_3dface _3dface--left">
              <p>asdasdasdadsasd</p>
          </div>
          <div class="_3dface _3dface--right">
              <p>asdasdasdadsasd</p>
          </div>
          <div class="_3dface _3dface--back">
              <p>asdasdasdadsasd</p>
          </div>
        </div>
    </div>

<div class="cube_buttons">
    <!-- Buttons have space inbetween them due to newline and tab between them. Fix this by commenting out the buggy whitespace-->
    <button class="button--front" onclick="rotateFront()">aa</dbuttoniv><!--
    --><button class="button--left" onclick="rotateLeft()">aa</button><!--
    --><button class="button--right" onclick="rotateRight()">aa</button><!--
    --><button class="button--back" onclick="rotateBack()">aa</button><!--
    --><button class="button--top" onclick="rotateTop()">aa</button><!--
    --><button class="button--bottom"  onclick="rotateBottom()">aa</button>
</div>