@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";

$footer_img_len:35px;
$small_margin: 10px;
$navbar_height: 4rem;
$row_item_padding: 75px;
$rem_base_font: 26px;


body {
    height: 100%;
}

html{
    height: 100%;
}

.navbar{
    
    li{
        a{
            line-height:$navbar_height;
        }
    }
    .navbar-icon{
        width:auto;
        height:$navbar_height;
    }
    .navbar-nav{
        text-align: center;
    }
}

.navbar-toggle{
    height: $navbar_height;
    margin:15px;
    width:auto;
}

footer{
    color:white;
    background:rgb(51,51,51);
    text-align: center;
    margin:0px;
    padding:$row_item_padding 0px;
    
    img{
        margin:$small_margin;
        width: $footer_img_len;
        height:$footer_img_len;
    }
}
