html{
 background:#eee;   
}

header{
    width:65%;
    margin:0 auto;
    #logo{
        display:inline-block;
        background:black;
        border-radius: 45%;
        width:200px;
        height:auto;
    }
    #header_info{
        margin-left: 10%;
        display:inline-block;
    }
    
    #nav_div{
        $height : 2em;
        height: $height;
        width:100%;
        background:green;
        border-radius: 10px;
        nav{
            height:100%;
            width:80%;
            margin:0 auto;
            background:pink;
            a{
                text-align: center;
                text-decoration: none;
                font-size: $height * .8;
                background:orange;
                height:100%;
                margin:0;
                padding:0;
                display:inline-block;
                width:20%;
            }
        }
    }
}
