$title_height: 100%;
$row_height: 75%;
$image_size: 250px;
$link_img_len: 40px;
$company_info_len: 300px;
$row_item_padding: 75px;
$small_margin:10px;
$color: rgb(181,153,92);


#james{
    height:$title_height;
    width:100%;
    /* Background pattern from subtlepatterns.com */
    background-image: url("../images/footer_lodyas.png");
    background-repeat: repeat;
    position:relative;
    margin:0;
    padding:0;
    
    #index_top{
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        text-align: center;
        width:100%;
        color:white;
        text-align: center;
        text-shadow: 0px 0px 10px #888888;
        
    }
}

#about_me{
    background:$color;
    text-align: center;
    margin:0;
    padding:$row_item_padding 0px;
    
    .container{
        margin: 10px auto;
        .about_me_image{
            width:$image_size;
            height:$image_size;
        }
    }
}

#individual_project{
    text-align: center;
    margin:0;
    padding:0;
    padding:$row_item_padding 0px;

    .project{
        vertical-align: top;

        .project_image{
            width:$image_size;
            height:$image_size;
            margin:30px;
        }

        .link_image{
            width:$link_img_len;
            height:$link_img_len;        
        }
    }
}

#companies{
    background:white;
    padding:$row_item_padding 0px;
    margin:0;
    text-align: center;
    
    .company{
            
        .company_image{
            max-width:$image_size + 20px;
            max-height:$image_size + 20px;
        }        
    }
}
