<div class="space3d">
    <div class="_3dbox">
      <div class="_3dface _3dface--front">
          <h1>Hello World!</h1>
      </div>
      <div class="_3dface _3dface--top">
        <h1>Android</h1>
        <a href="https://play.google.com/store/apps/developer?id=JTronLabs">Google Play Store</a>
        <h4>Projects On Github</h4>
        <a href="https://github.com/JTronLabs/CrashBoomBop">Crash Boom Bop</a>
        <a href="https://github.com/JTronLabs/FunGroups">Fun Groups!</a>
      </div>
      <div class="_3dface _3dface--bottom">
          <p>asdasdasdadsasd</p>
      </div>
      <div class="_3dface _3dface--left">
          <p>asdasdasdadsasd</p>
      </div>
      <div class="_3dface _3dface--right">
          <p>asdasdasdadsasd</p>
      </div>
      <div class="_3dface _3dface--back">
          <p>asdasdasdadsasd</p>
      </div>
    </div>
</div>

<div class="cube_buttons">
    <!-- Buttons & other tags have space inbetween them (in the browser) due to newline and tab between them. Fix this by commenting out the buggy whitespace-->
    <button class="button--front" onclick="rotateFront()">Hello World!</button><!--
    --><button class="button--left" onclick="rotateLeft()">aa</button><!--
    --><button class="button--right" onclick="rotateRight()">aa</button><!--
    --><button class="button--back" onclick="rotateBack()">aa</button><!--
    --><button class="button--top" onclick="rotateTop()">Android</button><!--
    --><button class="button--bottom"  onclick="rotateBottom()">aa</button>
</div>